@import "tailwindcss";

@theme {
  /* v4 এ সরাসরি ভেরিয়েবল লিখলেই ক্লাস তৈরি হয় */
  --color-main-bg: #0b0e11;
  --color-card-bg: #1e2329;
  --color-primary: #f3ba2f;
  --color-primary-hover: #f0b90b;
  --color-success: #0ecb81;
  --color-danger: #f6465d;
  --color-border: #2b3139;
}

/* নিচের বডি ট্যাগটি আপডেট করুন যেন ভেরিয়েবল পায় */
@layer base {
  body {
    background-color: var(--color-main-bg);
    color: white;
    font-family: 'Inter', sans-serif;
  }
}